Host * !localhost
  ControlPath ~/tmp/ssh_mux-%n-%p-%r
  ControlMaster auto
  ControlPersist 2h

# Stop timing out connections

# SSH Connection pooling for faster additional connections to a machine

# This makes subsequent connections go faster

# Make it so ssh-ing from one server to another passes keys around automagically
Host *
  serveralivecountmax 20
  serveraliveinterval 120
  forwardagent yes

# default account
Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes

# Reflektion account
Host reflektion.github.com
  HostName github.com
  User git
  IdentityFile ~/src/work/.ssh/id_rsa
  IdentitiesOnly yes
