[commit]
  # https://help.github.com/articles/signing-commits-using-gpg/
  gpgsign = $SIGN_COMMITS

[user]
  email = $EMAIL
  insteadOf = "gist:"
  signingkey = $SIGNING_KEY

[gpg]
  format = $GPG_FORMAT

[gpg "ssh"]
  allowedSignersFile = $CONFIG_FOLDER/git/$ALLOWED_SIGNERS_FOLDER/allowed_signers
